{% extends "base.html" %}
{% load static %}
{% block forgotPassword %}

<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content py-5" style="min-height: 84vh;">
    <!-- ============================ COMPONENT FORGOT PASSWORD   ================================= -->
    <div class="card mx-auto" style="max-width: 380px; margin-top: 100px;">
        <div class="card-body">
            <h4 class="card-title mb-4 text-center">Forgot Password?</h4>
            {% include "alerts.html" %}
            <form action="{% url "forgotPassword" %}" method="POST">
                {% csrf_token %}
                
                <!-- Email input -->
                <div class="form-group">
                    <input type="email" class="form-control" placeholder="Enter your email" name="email" required>
                </div> <!-- form-group// -->
                
                <!-- Submit button -->
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block">Send Reset Link</button>
                </div> <!-- form-group// --> 

                <!-- Form error messages -->
                {{ form.email.errors }}
                {{ form.non_field_errors }}
            </form>
        </div> <!-- card-body.// -->
    </div> <!-- card .// -->

    <!-- Return to login link -->
    <p class="text-center mt-4">Remembered your password? <a href="{% url 'login' %}">Login</a></p>

<!-- ============================ COMPONENT FORGOT PASSWORD END.// ================================= -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->

{% endblock forgotPassword %}