{% extends "base.html" %}
{% load static %}
{% block main-content %}

<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content py-5" style="min-height: 84vh;">
    <!-- ============================ COMPONENT FORGOT PASSWORD   ================================= -->
    <div class="card mx-auto" style="max-width: 380px; margin-top: 100px;">
        <div class="card-body">
            <h4 class="card-title mb-4 text-center">Reset Password?</h4>
            {% include "alerts.html" %}
            <form action="{% url "resetPassword" %}" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="Create Password" name="password">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="Confirm Password" name="confirm_password">
                </div>
                <div class="form-group">
                   <button type="submit" class="btn btn-primary btn-block">Reset Password</button>
                </div>
            </form>
        </div>
    </div>

    <!-- Return to login link -->
    <p class="text-center mt-4">Remembered your password? <a href="{% url 'login' %}">Login</a></p>

<!-- ============================ COMPONENT FORGOT PASSWORD END.// ================================= -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->

{% endblock main-content %}